<!DOCTYPE html>
<html>
  <head>
    <title>CmsinoExample</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <%= link_to "Cmsino", cmsino_contents_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
      <%= link_to 'it', url_for(:locale => :it) %>  
      <%= link_to 'en', url_for(:locale => :en) %>  
    </div>

    <%= yield %>

  </body>
</html>
